<li><a th:href="@{/users}"><span class="icon color11"><i class="fa fa-paper-plane-o"></i></span>BOOKING</a></li>

<!-- COMPONENT USER -->
<li><a href="#"><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>USERS<span class="caret"></span></a>
  <ul>
  	<li><a href="social-profile.html">List User</a></li>
  	<li><a href="social-profile.html">Create User</a></li>
  </ul>
</li>

<!-- COMPONENT PRODUCT -->
<li><a href="#"><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>PRODUCTS<span class="caret"></span></a>
  <ul>
  	<li><a href="social-profile.html">List Product</a></li>
  	<li><a href="social-profile.html">Create Product</a></li>
  </ul>
</li>

<!-- COMPONENT USER -->
<li><a href="#"><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>BOOKING<span class="caret"></span></a>
  <ul>
  	<li><a href="social-profile.html">List Booking</a></li>
  	<li><a href="social-profile.html">Create Product</a></li>
  </ul>
</li>

<!-- COMPONENT USER -->


<!-- COMPONENT USER -->


<!-- COMPONENT USER -->