<!-- Start Panel -->
<div class="col-md-12">
    <div class="panel panel-default">

        <div class="panel-title">
            Striped rows
        </div>

        <div class="search">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>

        <div class="panel-body table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Order ID</td>
                    <td>Product</td>
                    <td>Buyer</td>
                    <td>Date</td>
                    <td>Order Note</td>
                    <td>Payment</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td># <b>9652</b></td>
                    <td>Kode Gaming Laptop</td>
                    <td>John Doe</td>
                    <td>12/10/2015</td>
                    <td>As we got further and further away, it [the Earth] diminished in size.</td>
                    <td>Credit Card</td>
                </tr>
                <tr>
                    <td># <b>1963</b></td>
                    <td>New Season Jacket</td>
                    <td>Jane Doe</td>
                    <td>12/10/2015</td>
                    <td>As we got further and further away, it [the Earth] diminished in size.</td>
                    <td>Paypal</td>
                </tr>
                <tr>
                    <td># <b>9652</b></td>
                    <td>IO Mouse</td>
                    <td>Jonathan Doe</td>
                    <td>12/10/2015</td>
                    <td>As we got further and further away, it [the Earth] diminished in size.</td>
                    <td>Credit Card</td>
                </tr>
                <tr>
                    <td># <b>9651</b></td>
                    <td>Doe Bike</td>
                    <td>Jonathan Doe</td>
                    <td>12/10/2015</td>
                    <td>As we got further and further away, it [the Earth] diminished in size.</td>
                    <td>Credit Card</td>
                </tr>
                <tr>
                    <td># <b>6962</b></td>
                    <td>Zets Baseball Bat</td>
                    <td>Jonathan Doe</td>
                    <td>12/10/2015</td>
                    <td>As we got further and further away, it [the Earth] diminished in size.</td>
                    <td>Credit Card</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="disabled"><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- End Panel -->