<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%5level [%thread] - %msg%n</pattern> -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- <logger name="booking.mappers.StudentMapper">
    <level value="debug"/>
  </logger> -->
  
  <logger name="booking.mappers">
    <level value="debug"/>
  </logger>
  
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>