<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booking.mappers.UserMapper">

	 <insert id="createNewUser" parameterType="com.booking.common.entity.User" useGeneratedKeys="true" keyProperty="id">
	  	INSERT INTO users(email,enabled,first_name,last_name,password,photos) 
	  	VALUES (#{email},#{enabled},#{firstName},#{lastName},#{password},#{photos})
	  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
	 </insert>


	<insert id="createRolesNewUser" parameterType="java.util.Map">
		INSERT INTO users_roles(user_id,roles_id)
		VALUES
			<foreach collection="roles" item="item" separator=",">
				(#{user.id},#{item})
			</foreach>
	</insert>

</mapper>